# Dependency directories
node_modules/
.next/
out/

# Prisma
prisma/dev.db
prisma/*.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/
.yarn/

# Editor directories and files
.idea/
.vscode/
*.swp
*.bak
*.swo

# Environment variables
.env
.env*.local

# macOS files
.DS_Store

# Misc
.cache/

# Uploads
public/uploads/
